.loginbox{
  display: flex;
    /* background-color: aquamarine; */
    /* background-image: linear-gradient(to right top, #bbbdc4, #b7c5d1, #afced9, #a9d8d9, #ace0d1, #a9e2d3, hsl(166, 53%, 77%), #a3e6d8, #9be2ea, #a3daf5, #b7d1f6, #cdc8ed); */
    /* opacity: 10%; 
    background-image: linear-gradient(to right bottom, #8d61f6, #cf52d4, #f150af, #ff5e8f, #ff7576, #ff8769, #fe9a60, #f7ad5c, #f3c058, #ead559, #dce962, #c7fd75);
    */
    width: 64vw;
    height: 70vh;
    margin-left: 18vw;
    margin-right: 18vw;
    border-radius: 60px;
    margin-top: 10vh
    
    
}
.loginform{
  width: 50vw;
    height: 65vh;
    /* background-color: rgb(32, 255, 173); */
    /* border-radius: 60px; */
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin: 1vh 1vw 1vh 1vw;
    translate: 0vw 2vh;
    background: rgba(255, 255, 255, 0.2);
/* border-radius: 16px; */
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
    
    /* opacity: 10%; */
    /* background-image: linear-gradient(to right top, #307df1, #00aaff, #00ccef, #00e5b2, #8af670); */
    /* background-image: linear-gradient(to right bottom, #8d61f6, #cf52d4, #f150af, #ff5e8f, #ff7576, #ff8769, #fe9a60, #f7ad5c, #f3c058, #ead559, #dce962, #c7fd75); */
    /* background-image: linear-gradient(to right bottom, #f13805, #f10050, #d30085, #962bae, #1c49bf); */
    background-blend-mode:luminosity;
    
  
  
  
  }


#landingimage{
  position: relative;
  height: 65vh;
  width: 30vw;
  translate: 1vw 2vh;
  margin-left: 1vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}


body{
  background-attachment: fixed;
  overflow: hidden;
  background-image: linear-gradient(to right bottom, #270e93, #4350b6, #6e86d2, #a7bce6, #ecf1f8);
}

h1{
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
    
    text-align: center;
    font-size: 4vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
label{
  font-size: 2vw;
  /* font-style: italic; */
  font-family:Arial, Helvetica, sans-serif;
  margin-left: 1vw;
  translate: 0vw 0vh;
}
/* input{
} */
 #login {
  translate: 0vw 3vh;
    position: relative;
    align-items: center;
    margin-left: 1.7vw;
    width: 25vw;
    height: 7vh;
    border-radius: 30px;
    color: white;
    background-color: rgb(18 18 66);
    /* font-size: 22px; */
    font-size: 2vw;
}
 #signin a{
  text-decoration: none;
  color: rgb(247, 241, 241);
  font-size: 1vw;
}
button #signin{
height: 2vh;
width: 4vw;
}

.signinlink{
  translate: 1.7vw 5vh;
  position: relative;
  align-items: center;
  width: 25vw;
  height: 7vh;
  border-radius: 30px;
  color: white;
  background-color: rgb(18, 18, 66);
}
/* editted */
html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

li {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #101010;
}

.header{
  border-bottom: 1px solid #E2E8F0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display:none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link{
  font-size: 1.6rem;
  font-weight: 400;
  color: #fafdfa;
  font-family: 'Cinzel Decorative', cursive;
  
}

.nav-link:hover{
  color: #482ff7;
  background-color: #E2E8F0;
}

.nav-logo {
  font-size: 4rem;
    font-weight: 500;
    color: #f8f2f2;
    text-decoration: none;
    font-family: 'Great Vibes', cursive;
}

@media only screen and (max-width: 768px) {


  .nav-menu {
      position: fixed;
      /* left: -100%; */
      left: -100%;
      top: 5rem;
      flex-direction: column;
      background-color: #e59e9e;
      /* width: 100%; */
      width: 50%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow:0 10px 27px rgba(0, 0, 0, 0.05);
      z-index: 1;
  }

  .nav-menu.active {
      /* left: 40vw; */
      width: 100vw;
      left:0vw;
      /* background-image: linear-gradient(to right top, #f9caf2, #f9b2e6, #fa98d8, #fb7cc6, #fc5cb1, #ff529f, #ff498c, #ff4279, #ff5d6c, #ff7663, #ff8d5f, #ffa361); */
      background: rgba(255, 255, 255, 0.2);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);

  }
  .loginbox.active{
    opacity: 90%;
    margin-top: 24vh;
    
    /* display: none; */
  }

  #landingimage{
    display: none;
  }

  .nav-item {
      margin: 2.5rem 0;
  }
  .hamburger {
    display: block;
    cursor: pointer;
}
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

}
.logo-text{
  color: #d7d7df;
}
#avatar {
    height: 10vh;
    width: 10vw;
    translate: 10.5vw 0vh;
    padding: 5px;
    margin: 5px;
    position: relative;
}
.place-holder{
  border-radius: 30px;
  height: 5vh;
  width: 25vw;
  position: relative;
  translate: 1.5vw ;
  color: #19ec22;
  font-size: 1.5vw;
  margin: 10px 1px 10px 1px;
}






/* 370=bp */
/* sources */
/* https://dev.to/devggaurav/let-s-build-a-responsive-navbar-and-hamburger-menu-using-html-css-and-javascript-4gci */
